<form name="signupform" id="signupform" method="post" action="/users/signup">
  <div>
    <input class="form-control" type="text" name="name" id="name" placeholder="Full Name">
  </div>
  <br>
  <div>
    <input class="form-control" type="text" name="email" id="email" placeholder="Email">
  </div>
  <br>
  <div>
    <input class="form-control" type="text" name="screenName" id="screenName" placeholder="Screen Name">
  </div>
  <br>
  <div>
    <input class="form-control" type="password" name="password" id="password" placeholder="password">
  </div>
  <br>
  <div>
    <input class="form-control" type="number" name="age" id="age" placeholder="Age (optional)">
  </div>
  <br>
  <div>
    <input class="form-control" type="number" name="height" id="height" placeholder="Height (optional)">
  </div>
  <br>
  <div>
    <input class="form-control" type="number" name="weight" id="weight" placeholder="Weight (optional)">
  </div>
  <br>
  <input class="btn" type="submit" value="Save">
</form>
